:root {
  --negro: rgb(34, 40, 49);
  --grisoscuro: rgb(57, 62, 70);
  --verdeazul: rgb(0, 173, 181);
  --gris: rgb(238, 238, 238);
}
  
body {
  font-family: 'Roboto', sans-serif;
}
    
.grid-layout {
  display: grid;
  width: 70vw;
  height: 90vh;
  margin: 50px auto;
  grid-template-columns: 1fr 1fr 1fr;
  border: 4px solid black;
  column-gap: 10px;
  align-items: center;
  justify-items: center;
}
    
.caja {
  width: 70%;
  height: 40%;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: -5px 5px 2px black;
  margin: 15px;
  text-align: center;
  padding: auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;

  transition: .5s;
}

.caja:hover {
  width: 90%;
  height: 60%;

  font-size: 2.5rem;

  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  font-size: 3rem;
}

a {
  transition: .5s;
}